.question-mark-box {
  padding: 0;
  font-size: 24px;
  width: 3rem;
  height: 3rem;
  color: white !important;
  text-shadow: 0.1em 0.1em var(--nintendo-yellow-very-dark);
  background: var(--nintendo-yellow);
  border-top: 4px solid var(--nintendo-yellow-light);
  border-right: 4px solid var(--nintendo-yellow-dark);
  border-bottom: 4px solid var(--nintendo-yellow-dark);
  border-left: 4px solid var(--nintendo-yellow-light);
  box-shadow: 0.1em 0.1em 0.1em var(--almost-black);
  border-radius: 4px;
}

.question-mark-box:active {
  outline: none;
  box-shadow: none;
  transform: translate(1px, 1px);
  transition: 0.3s;
  line-height: 0;
}

.question-mark-box:focus {
  outline: none;
}

.instructions {
  position: fixed;
  top: -200px;
  left: calc(50vw - 40%);
  z-index: 667;
  background: var(--almost-white);
  width: 80%;
  padding: 4px;
  font-size: 14px;
  border: 4px solid var(--almost-black);
  border-radius: 12px;

  visibility: hidden;
  opacity: 0;
  transform: scale(0.1);
  transition: visibility 0ms ease-in 500ms, opacity 500ms ease-in,
    transform 500ms ease-in, top 500ms ease-in;
}

.instructions.show {
  visibility: visible;
  opacity: 1;
  top: 50px;
  transform: scale(1);
  transition: opacity 500ms ease-in, transform 500ms ease-in, top 500ms ease-in;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.instructions ul {
  list-style-type: none;
  padding: 0;
}

.instructions li {
  display: flex;
}

.instructions li span {
  display: flex;
  align-items: center;
  font-size: 10px;
  margin-left: 2px;
}

.instructions button {
  float: right;
  padding: 0;
}

.close-x-button {
  float: right;
  width: 20px;
  height: 20px;
  line-height: 0;
}

.instructions-footer {
  display: flex;
  justify-content: space-between;
}

.perry-github-link {
  margin: 4px 0 0;
  font-size: 0.75em;
  color: var(--nintendo-blue);
  background: var(--super-nintendo-lilac);

  border-top: 3px solid var(--button-border-gray);
  border-right: 3px solid var(--almost-black);
  border-bottom: 3px solid var(--almost-black);
  border-left: 3px solid var(--button-border-gray);

  box-shadow: 0.1rem 0.1rem var(--almost-black);
  border-radius: 4px;
  padding: 6px;
  text-decoration: none;
  transition: background 6.66s;
}

.perry-github-link:hover {
  background: var(--super-nintendo-purple);
  text-decoration: none;

  transition: background 6.66s;
  animation-name: perry-hover;
  animation-duration: 6.66s;
  animation-iteration-count: infinite;
}

.perry-github-link:active {
  box-shadow: none;
  transform: translate(1px, 1px);
  transition: 0.3s;
}

.perry-github-link p {
  margin-bottom: 0;
}

@keyframes perry-hover {
  0% {
    color: var(--nintendo-blue);
  }
  25% {
    color: var(--switch-controller-red);
  }
  50% {
    color: var(--nintendo-yellow);
  }
  75% {
    color: var(--switch-controller-red-glass);
  }
  100% {
    color: var(--nintendo-blue);
  }
}

@media (max-width: 992px) {
  .heart {
    transform: scale(1.75);
    width: 14px;
    height: 14px;
  }

  .instructions {
    font-size: 12px;
  }

  .question-mark-box {
    font-size: 20px;
    width: 2rem;
    height: 2rem;
    line-height: 0;
  }
}

@media (max-width: 600px) {
  .heart {
    transform: scale(1.5);
    width: 10px;
    height: 10px;
  }

  .question-mark-box {
    font-size: 16px;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 0;
  }
}
