.switch-game-list {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style-type: none;
  display: flex;
  align-content: stretch;
  flex-wrap: wrap;
  margin: 8px 0;
  background-color: black;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
}

.switch-game-list-item {
  width: 50%;
  border: 0.5px solid black;
}

/* .switch-game-list-item:hover {
  background: #dadbf9;
} */

@media (max-width: 800px) {
  .switch-game-list {
    flex-direction: column;
  }

  .switch-game-list-item {
    width: 100%;
  }
}
