.switch-game-list {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 8px 0;
  border: 1px solid black;
  gap: 1px;
  background-color: black;
  border-radius: 8px;
  overflow: auto;
}

.switch-game-list-item {
  background-color: white;
  padding: 0;
}

.switch-game-list-item:hover {
  background: #dadbf9;
}
