.create-form-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.create-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  width: 80%;
  min-width: 600px;
  border-radius: 20px;
}

.create-form input,
.create-form button {
  margin: 8px;
}

.create-form-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.create-form textarea {
  height: 100px;
  width: 80%;
  max-width: 800px;
}
