.create-form-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.create-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  width: 80%;
  border-radius: 20px;
}

.create-form label {
  margin-bottom: 0.25rem;
}

.create-form label.checkbox-label {
  margin-bottom: 0.75rem;
}

.create-form input,
.create-form button {
  margin: 4px 8px 8px;
}

.create-form-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.create-form-button-box {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.review-box {
  width: 100%;
}

.review-box textarea {
  height: 100px;
  width: 100%;
  margin: 0 auto;
  max-width: 800px;
}

@media (max-width: 992px) {
  .create-form-box {
    font-size: 0.7rem;
  }

  .create-form-box button {
    padding: 3px 4px;
  }

  .create-form {
    width: 90%;
  }

  /* TODO -> Consolidate this with filters css */
  .create-form select {
    padding: 0.25rem 1.25rem 0.25rem 0.5rem;
  }

  .create-form input {
    padding: 0.25rem 0.5rem;
  }
}

@media (max-width: 600px) {
  .create-form-box {
    font-size: 0.5rem;
    line-height: 6px;
  }

  .create-form select {
    padding: 0.1rem 0.2rem 0.1rem 0.2rem;
  }
}
