.main-heading-box {
  position: sticky;
  top: 0;
  z-index: 666;
  width: 100%;
  background: var(--super-nintendo-gray);
  padding: 10px 20px 12px;
  margin: 0 0 8px;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 0.25em 0.25em var(--almost-black);
}

.main-heading-box-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-family: 'NinFont', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  padding: 4px 20px 4px;
  border-radius: 20px;
  color: var(--almost-white);
  background: var(--super-nintendo-purple);
  font-size: 1.75em;
  border: 2px solid var(--almost-black);
  box-shadow: 0.1em 0.1em 0.1em var(--almost-black);
  text-shadow: 0.05em 0.05em 0.1em var(--almost-black);
  margin: 0;
}

h1:active {
  box-shadow: none;
  transform: translate(2px, 2px);
  transition: 0.5s;
}

.main-heading-middle {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.perry-github-link {
  margin-left: 8px;
  font-size: 0.75em;
  color: var(--super-nintendo-dark-gray);
  background: var(--super-nintendo-lilac);
  border: 2px solid var(--almost-black);
  box-shadow: 0.1em 0.1em 0.1em var(--almost-black);
  border-radius: 16px;
  padding: 0 6px;
  text-decoration: none;
}

.perry-github-link:hover {
  color: var(--super-nintendo-dark-gray);
  text-decoration: none;
  animation-name: perry-hover;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.perry-github-link:visited {
  color: var(--super-nintendo-dark-gray);
}

.perry-github-link:active {
  box-shadow: none;
  transform: translate(1px, 1px);
  transition: 0.3s;
}

.perry-github-link p {
  margin-bottom: 0;
}

.question-mark-box {
  padding: 0;
  font-size: 24px;
  width: 3rem;
  height: 3rem;
  color: white !important;
  text-shadow: 0.1em 0.1em var(--nintendo-yellow-very-dark);
  background: var(--nintendo-yellow);
  border-top: 4px solid var(--nintendo-yellow-light);
  border-right: 4px solid var(--nintendo-yellow-dark);
  border-bottom: 4px solid var(--nintendo-yellow-dark);
  border-left: 4px solid var(--nintendo-yellow-light);
  box-shadow: 0.1em 0.1em 0.1em var(--almost-black);
  border-radius: 4px;
}

.question-mark-box:active {
  outline: none;
  box-shadow: none;
  transform: translate(1px, 1px);
  transition: 0.3s;
  line-height: 0;
}

.question-mark-box:focus {
  outline: none;
}

.instructions {
  position: fixed;
  top: -200px;
  left: calc(50vw - 40%);
  z-index: 667;
  background: var(--almost-white);
  width: 80%;
  padding: 4px;
  font-size: 14px;
  border: 4px solid var(--almost-black);
  border-radius: 12px;

  visibility: hidden;
  opacity: 0;
  transform: scale(0.1);
  transition: visibility 0ms ease-in 500ms, opacity 500ms ease-in,
    transform 500ms ease-in, top 500ms ease-in;
}

.instructions.show {
  visibility: visible;
  opacity: 1;
  top: 50px;
  transform: scale(1);
  transition: opacity 500ms ease-in, transform 500ms ease-in, top 500ms ease-in;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.instructions ul {
  list-style-type: none;
  padding: 0;
}

.instructions li {
  display: flex;
}

.instructions li span {
  display: flex;
  align-items: center;
  font-size: 10px;
  margin-left: 2px;
}

.instructions button {
  float: right;
  padding: 0;
}

@keyframes perry-hover {
  0% {
    color: var(--super-nintendo-dark-gray);
  }
  25% {
    color: var(--super-nintendo-purple);
  }
  50% {
    color: var(--switch-controller-blue);
  }
  75% {
    color: var(--switch-controller-red);
  }
  100% {
    color: var(--super-nintendo-dark-gray);
  }
}

@media (max-width: 992px) {
  body {
    font-size: 0.75rem;
  }

  h1 {
    font-size: 1.2rem;
  }

  .instructions {
    font-size: 12px;
  }

  .main-heading-box {
    padding: 5px 10px 6px;
  }

  .heading-icon {
    transform: scale(0.75);
  }

  .heart {
    transform: scale(1.75);
    width: 14px;
    height: 14px;
  }

  .question-mark-box {
    font-size: 20px;
    width: 2rem;
    height: 2rem;
    line-height: 0;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 0.8rem;
  }

  .main-heading-box {
    padding: 2px 5px 3px;
  }

  .heading-icon {
    transform: scale(0.5);
  }

  .heart {
    transform: scale(1.5);
    width: 10px;
    height: 10px;
  }

  .question-mark-box {
    font-size: 16px;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 0;
  }
}
