.main-heading-box {
  position: sticky;
  top: 0;
  z-index: 666;
  width: 100%;
  background: var(--super-nintendo-gray);
  padding: 6px 20px;
  margin: 0 0 6px;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 0.25em 0.25em var(--almost-black);
}

.main-heading-box-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

h1 {
  font-family: 'NinFont', 'Press Start 2P', Inter, system-ui, Avenir, Helvetica,
    Arial, sans-serif;
  padding: 4px 20px;
  border-radius: 20px;
  color: var(--almost-white);
  background: var(--super-nintendo-purple);
  font-size: 1.75em;
  border: 2px solid var(--almost-black);
  box-shadow: 0.1em 0.1em 0.1em var(--almost-black);
  text-shadow: 0.05em 0.05em 0.1em var(--almost-black);
  margin: 0;
}

h1:active {
  box-shadow: none;
  transform: translate(2px, 2px);
  transition: 0.5s;
}

.main-heading-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.perry-github-link {
  margin: 4px 0 0 8px;
  font-size: 0.75em;
  color: var(--super-nintendo-dark-gray);
  background: var(--super-nintendo-lilac);
  border: 2px solid var(--almost-black);
  box-shadow: 0.1em 0.1em 0.1em var(--almost-black);
  border-radius: 16px;
  padding: 0 6px;
  text-decoration: none;
}

.perry-github-link a:hover {
  color: var(--super-nintendo-dark-gray);
  text-decoration: none;
  animation-name: perry-hover;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.perry-github-link a:visited {
  color: var(--super-nintendo-dark-gray);
}

.perry-github-link a:active {
  box-shadow: none;
  transform: translate(1px, 1px);
  transition: 0.3s;
}

.perry-github-link p {
  margin-bottom: 0;
}

.main-heading-left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@keyframes perry-hover {
  0% {
    color: var(--super-nintendo-dark-gray);
  }
  25% {
    color: var(--super-nintendo-purple);
  }
  50% {
    color: var(--switch-controller-blue);
  }
  75% {
    color: var(--switch-controller-red);
  }
  100% {
    color: var(--super-nintendo-dark-gray);
  }
}

@media (max-width: 992px) {
  body {
    font-size: 0.75rem;
  }

  h1 {
    font-size: 1.3rem;
    padding: 4px 12px;
  }

  .main-heading-box {
    padding: 5px 10px;
  }

  .heading-icon {
    transform: scale(0.75);
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 0.9rem;
    padding: 4px 8px;
  }

  .perry-github-link {
    margin-left: 6px;
  }

  .main-heading-box {
    padding: 2px 5px;
  }

  .heading-icon {
    transform: scale(0.5);
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 0.7rem;
  }

  .perry-github-link {
    font-size: 0.4rem;
  }

  .main-heading-box {
    padding: 2px 4px 2px;
  }
}
