:root {
  --nintendo-blue: #004ca5;
  --nintendo-blue2: #1560ad;
  --nintendo-red: #e60013;
  --nintendo-yellow: #ffd323;
  --nintendo-yellow-light: #fae282;
  --nintendo-yellow-dark: #d3ad13;
  --nintendo-yellow-very-dark: #625e4b;
  --super-nintendo-gray: #9d9ba8;
  --super-nintendo-dark-gray: #545454;
  --super-nintendo-lilac: #b1aee6;
  --super-nintendo-purple: #825ab1;
  --almost-black: #111;
  --almost-white: #ddd;
  --switch-controller-blue: #40bae0;
  --switch-controller-blue-glass: #40bae0e8;
  --switch-controller-red: #ed5e53;
  --switch-controller-red-glass: #ed5e53e8;
}

@font-face {
  font-family: 'NinFont';
  src: local('NinFont'), url(./assets/nin-font.otf) format('truetype');
}

body {
  margin: 0;
  background: linear-gradient(
    90deg,
    var(--nintendo-blue2),
    var(--nintendo-blue)
  );
  display: flex;
  font-family: 'Press Start 2P', 'Lucida Sans', 'Lucida Sans Regular',
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 100vw;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-collapse: collapse;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  font-weight: 800;
  text-decoration: none;
}

hr {
  width: 100%;
  border-top: 1px dotted var(--almost-white);
  border-bottom: 0;
}

label {
  margin-right: 4px;
}

.ms-20 {
  margin-left: 20px;
}
