:root {
  --nintendo-blue: #004ca5;
  --nintendo-red: #e60013;
  --super-nintendo-gray: #9d9ba8;
  --almost-black: #111;
  --switch-controller-blue: #40bae0;
  --switch-controller-blue-glass: #40bae0f0;
  --switch-controller-red: #ed5e53;
  --switch-controller-red-glass: #ed5e53f0;
}

@font-face {
  font-family: 'NinFont';
  src: local('NinFont'), url(./assets/nin-font.otf) format('truetype');
}

body {
  margin: 0;
  /* background: linear-gradient(95deg, #111133, #333355); */
  background: var(--nintendo-blue);
  display: flex;
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 100vw;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-collapse: collapse;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--almost-black);
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
  margin: 4px;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

a {
  font-weight: 800;
  text-decoration: none;
}

hr {
  width: 100%;
  border-top: 1px dotted black;
  border-bottom: 0;
}

label {
  margin-right: 4px;
}

h1 {
  font-family: 'NinFont', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  padding: 10px 20px 12px;
  color: black;
  background: var(--super-nintendo-gray);
  border-radius: 12px;
  box-shadow: 2px 2px 5px var(--almost-black);
}
