.game-box {
  height: 100%;
}

.game-box-inners {
  height: 100%;
  padding: 10px;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    90deg,
    rgba(34, 193, 195, 0.95) 0%,
    rgba(253, 68, 45, 0.95) 100%
  );
}

.game-box h3 {
  margin: 10px 0;
  display: flex;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.game-box button {
  border-radius: 0;
}

.game-title {
  text-decoration: underline;
}

.game-info {
  display: flex;
}

.game-description-box {
  /* max-height: 100px; */
}

.game-description {
  /* max-height: 50px; */
  line-height: 1rem;
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  /* white-space: wrap; */
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  font-weight: bold;
}

.game-date-display {
  font-size: 0.8rem;
  padding-left: 8px;
}

.box-art {
  max-width: 200px;
  max-height: 200px;
  object-fit: contain;
}

.game-stats-list li {
  font-weight: bold;
}
