.game-box {
  height: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  transition: transform 1s;
  border: 1px solid var(--almost-black);
}

.game-box:hover {
  /* transform: translateY(-10px); */
  transform: scale(1.01, 1.01);
  position: relative;
  z-index: 10;
}

.game-box-inners {
  border-radius: 8px;
  box-shadow: 2px 2px 2px black;
  padding: 10px;
  background: var(--switch-controller-blue-glass);
  background: linear-gradient(
    90deg,
    var(--switch-controller-blue-glass) 0%,
    var(--switch-controller-red-glass) 100%
  );
}

.game-box-inners h3 {
  margin: 0 0 4px;
  text-align: center;
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}

.game-title {
  font-size: 1em;
  font-family: 'Press Start 2P', 'NinFont', Inter, system-ui, Avenir, Helvetica,
    Arial, sans-serif;
}

.game-info-box {
  display: flex;
  justify-content: space-between;
}

.game-info {
  display: flex;
  justify-content: flex-start;
}

.game-description-box {
  /* max-height: 100px; */
}

.game-description {
  /* max-height: 50px; */
  line-height: 1rem;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  /* white-space: wrap; */
  display: -webkit-box;
  /* -webkit-line-clamp: 5; */
  -webkit-box-orient: vertical;
}

.game-date-display {
  font-size: 0.8rem;
  padding-left: 8px;
}

.box-art {
  max-width: 200px;
  max-height: 200px;
  object-fit: contain;
  border-radius: 15px;
  box-shadow: 1px 1px 2px black;
  background-color: var(--almost-black);
}

.description-art {
  max-width: 120px;
  max-height: 120px;
  object-fit: contain;
  border-radius: 10px;
  align-self: flex-end;
}

.game-stats-list {
  width: 100%;
  margin-block-start: 0;
  margin-block-end: 12px;
}

.game-stats-list li {
  font-size: 14px;
}

.show-game-details-button {
  padding: 0.3em 0.6em;
  transition: border-color 0.25s;
}

.genre-badge {
  position: relative;
  margin: 0.5em;
  width: fit-content;
}

.genre-badge span {
  font-size: 0.8em !important;
  position: relative !important;
  margin: 0 !important;
  width: initial !important;
  height: initial !important;
  padding: 0 2px !important;
}
